/* 
 * Basic white: #fff;
 * Light grey blue: #676f9d;
 * Medium grey blue: #424769;
 * Dark grey blue: #2d3250;
 * Light appricot: #f9b17a; 
 * Light coral: #f08080;
 * Golden ellow: #ffc438;
 */

/*
Setting the default width of all elements to include
the padding and the border.
*/
* {
  box-sizing: border-box;
}

body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  background: rgb(103,111,157);
  background: linear-gradient(151deg, rgba(103,111,157,1) 10%, rgba(66,71,105,1) 49%, rgba(45,50,80,1) 97%);
}

h1, h2, h3 {
  font-family: 'Expletus Sans', sans-serif;
}

main {
  padding: 150px 0;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  background-color: #ffc438;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
Page header styling, flexbox.
*/
.page-header {
  display: flex;
  width: 100%;
  padding: 20px 60px;
  margin-bottom: 60px;
  background-color: #2d3250;
  
  /* border-bottom: 4px solid var(--primary-color); */
  position: fixed;
  align-items: center;
}
 
.page-header__item {
  flex: 0 1 70px;
}

.page-header__item:last-child {
  flex-grow: 1;
  text-align: right;
}

.page-header__item-logo {
  width: 100%;
}

/*
Navigation list styling.
*/
.navigation-list {
  list-style-type: none;
}

.navigation-list li {
  display: inline-block;
  margin-left: 15px;
}

.navigation-list a {
  text-decoration: none;
  color: #fff;
  font-size: 22px;
}

.navigation-list__item--active {
  font-weight: 700;
}

/*
Link and link states styling.
*/
a {
  color: #fff;
  transition: opacity var(--transition-std-time);
}

a:visited {
  color: #ffc438;
}

a:hover,
a:focus,
button:hover,
button:focus {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.8;
}

a:active {
  color: #f9b17a;
}

.pokemon-list {
  list-style-type: none;
  padding-left: 0;
}

.pokemon-button {
  background-color: #2d3250;
  color: #fff;
  border-radius: 5px;
  border-bottom: 1px solid darken(#2d3250, 20%);
  width: 300px;
  margin-bottom: 10px;
  padding: 20px 0;
}