/*
 * Basic white: #fff;
 * Light grey blue: #676f9d;
 * Medium grey blue: #424769;
 * Dark grey blue: #2d3250;
 * Light appricot: #f9b17a;
 * Light coral: #f08080;
 * Golden yellow: #ffc438;
 */

/*
Main, body, and headings styling.
*/
body {
  font-family: 'Inter', sans-serif;
  font-size: 18px;
  background: rgb(103, 111, 157);
  background: linear-gradient(151deg, rgba(103, 111, 157, 1) 10%, rgba(66, 71, 105, 1) 49%, rgba(45, 50, 80, 1) 97%);
}

main {
  padding: 200px 10px;
  margin: 0 auto;
  width: 70%;
  text-align: center;
  background-color: #ffc438;
}

h1,
h2,
h3 {
  font-family: 'Expletus Sans', sans-serif;
  font-weight: 700;
  margin-bottom: 30px;
}

h1 {
  font-size: 32px;
}

h2 {
  font-size: 26px;
}

h3 {
  font-size: 20px;
}

.box-shadow {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/*
Link and link states styling.
*/
.navbar-dark .navbar-nav .nav-link {
  color: #fff;
}

.navbar-dark .navbar-nav .active>.nav-link,
.navbar-dark .navbar-nav .nav-link.active,
.navbar-dark .navbar-nav .nav-link.show,
.navbar-dark .navbar-nav .show>.nav-link {
  color: #ffc438
}

/*
Page header styling, flexbox.
*/
.page-header {
  padding: 20px 20%;
  background-color: #2d3250;
  align-items: center;
}

/*
Navigation list styling.
*/
nav .img-fluid {
  max-width: 50%;
}

nav a {
  font-size: 22px;
}

/*
Pokemon list styling.
*/
.list-group-item {
  background-color: transparent;
  border: none;
}

.pokemon-button {
  width: 200px;
  height: 300px;
  margin: 10px;
  border-bottom: 10px solid rgba(0, 0, 0, 0.3);
  transition: transform 0.2s ease;
}